DATABASE_URL=
JWT_SECRET=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
APP_PROFILE_URL=http://localhost:3000/pages/perfil.html
EMAIL_REPLY_TO=